{% extends 'base.html' %}

{% block head %}
{{ super() }}

<script src="/static/js/multiselect-dropdown.js"></script>

{% endblock %}

{% block body %}
{{ super() }}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h5>Select your Satellites</h5>
        </div>
        <div class="col-sm-8">
            <select name="mysatellites" id="mysatellites" multiple multiselect-max-items="5" multiselect-search="true">
                {% for satellite in all_satellites %}
                <option value="{{satellite['NORAD_CAT_ID']}}">{{satellite['SATNAME']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        {% for mysat in my_satellites %}
        <div class="card col-sm-4 mx-1 my-1">
            <div class="card-body">
                <h4 class="card-title">{{mysat['SATNAME']}}</h4>
                <p class="card-text">
                    Norad Cat ID: {{mysat['NORAD_CAT_ID']}} <br/>
                    Object Type: {{mysat['OBJECT_TYPE']}} <br/>
                    Launch Date: {{mysat['LAUNCH']}} <br/>
                    Country: {{mysat['COUNTRY']}} <br/>
                    RCS Size: {{mysat['RCS_SIZE']}} <br/>
                    Inclination: {{mysat['INCLINATION']}} <br/>
                    Period: {{mysat['PERIOD']}} <br/>
                    ApoGee: {{mysat['APOGEE']}} <br/>
                    PeriGee: {{mysat['PERIGEE']}} <br/>
                    Decay: {{mysat['DECAY']}}
                </p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $("#mysatellites").val({{my_satellites_ids|safe}});
</script>
<script src="/static/js/main.js"></script>
{% endblock %}