{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block body %}
{{ super() }}

<div class="container mt-5">
    {% for neigh_data in neighbours_data %}
    {% set mysatellite = neigh_data['satellite'] %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Neighbours of {{mysatellite['SATNAME']}}</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Norad Cat ID</th>
                    <th>Object Type</th>
                    <th>Launch Date</th>
                    <th>Country</th>
                    <th>RCS Size</th>
                    <th>Inclination</th>
                    <th>Period</th>
                    <th>ApoGee</th>
                    <th>PeriGee</th>
                    <th>Decay</th>
                </tr>
            </thead>
            <tbody>
                {% for mysat in neigh_data['neighbours'] %}
                <tr>
                    <td>{{mysat['NORAD_CAT_ID']}}</td>
                    <td>{{mysat['OBJECT_TYPE']}}</td>
                    <td>{{mysat['LAUNCH']}}</td>
                    <td>{{mysat['COUNTRY']}}</td>
                    <td>{{mysat['RCS_SIZE']}}</td>
                    <td>{{mysat['INCLINATION']}}</td>
                    <td>{{mysat['PERIOD']}}</td>
                    <td>{{mysat['APOGEE']}}</td>
                    <td>{{mysat['PERIGEE']}}</td>
                    <td>{{mysat['DECAY']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    {% endfor %}
</div>
{% endblock %}